doctype html
//if IE 8
//if IE 9
// [if !IE] <!
// <![endif]
// Mirrored from ingsistemas.cloud.ufps.edu.co/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Jun 2022 22:16:50 GMT
// Added by HTTrack
meta(http-equiv='content-type' content='text/html;charset=UTF-8')
// /Added by HTTrack
head
  title Programa de Ingenier&iacute;a de Sistemas - UFPS - C&uacute;cuta
  // Meta
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='')
  meta(name='author' content='')
  // Favicon
  link(href='rsc/img/favicon.ico' rel='Shortcut icon')
  // Web Fonts
  link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin')
  link(type='text/css' rel='stylesheet' href='css/bootstrap.min.css')
  link(type='text/css' rel='stylesheet' href='css/ie8.min.css')
  link(type='text/css' rel='stylesheet' href='css/blocks.min.css')
  link(type='text/css' rel='stylesheet' href='css/plugins.min.css')
  link(type='text/css' rel='stylesheet' href='css/style.min.css')
  link(type='text/css' rel='stylesheet' href='css/app.min.css')
  link(type='text/css' rel='stylesheet' href='css/shop.plugins.min.css')
  link(type='text/css' rel='stylesheet' href='css/shop.blocks.min.css')
  link(type='text/css' rel='stylesheet' href='css/style-switcher.min.css')
  link(type='text/css' rel='stylesheet' href='css/shop.style.min.css')
  link(type='text/css' rel='stylesheet' href='css/header-v6.min.css')
  link(type='text/css' rel='stylesheet' href='css/header-v8.min.css')
  link(type='text/css' rel='stylesheet' href='css/header.min.css')
  link(type='text/css' rel='stylesheet' href='css/footer-v1.min.css')
  link(type='text/css' rel='stylesheet' href='css/animate.min.css')
  link(type='text/css' rel='stylesheet' href='css/line-icons.min.css')
  link(type='text/css' rel='stylesheet' href='css/font-awesome.min.css')
  link(type='text/css' rel='stylesheet' href='css/owl.carousel.min.css')
  link(type='text/css' rel='stylesheet' href='css/horizontal-parallax.min.css')
  link(type='text/css' rel='stylesheet' href='css/layerslider.min.css')
  link(type='text/css' rel='stylesheet' href='css/ured.min.css')
  link(type='text/css' rel='stylesheet' href='css/jquery.mCustomScrollbar.min.css')
  link(type='text/css' rel='stylesheet' href='css/sky-forms.min.css')
  link(type='text/css' rel='stylesheet' href='css/custom-sky-forms.min.css')
  link(type='text/css' rel='stylesheet' href='css/profile.min.css')
  link(type='text/css' rel='stylesheet' href='css/brand-buttons.min.css')
  link(type='text/css' rel='stylesheet' href='css/brand-buttons-inversed.min.css')
  link(type='text/css' rel='stylesheet' href='css/hover.min.css')
  link(type='text/css' rel='stylesheet' href='css/custom-hover-effects.min.css')
  link(type='text/css' rel='stylesheet' href='css/custom.min.css')
  link(type='text/css' rel='stylesheet' href='css/pgwslider.min.css')
  link(type='text/css' rel='stylesheet' href='css/ufps.css')
  link(type='text/css' rel='stylesheet' href='css/chatbot.css')
// Contenido
.wrapper
  #menu-principal.header-v6.header-white-transparent.header-sticky(style='position: relative;')
    #barra-superior.header-v8
      // Topbar blog
      .blog-topbar
        .topbar-search-block
          .container
            form(name='buscar' method='get' action='https://ingsistemas.cloud.ufps.edu.co/index.php')
              input(type='hidden' name='modulo' value='buscar')
              input.form-control(type='text' name='buscar' placeholder='Buscar...')
              .search-close
                i.icon-close
        .container
          .row
            .col-sm-7.col-xs-7
              .topbar-toggler(style='font-size: 10px; color: #eee; letter-spacing: 1px; text-transform: uppercase;')
                span.fa.fa-angle-down
                |  PERFILES
              ul.topbar-list.topbar-menu
                li
                  a(href='https://ww2.ufps.edu.co/universidad/perfiles/aspirantes/952' target='_blank')
                    i.fa.fa-users
                    | Aspirantes
                li
                  a(href='https://ww2.ufps.edu.co/universidad/perfiles/estudiantes/953' target='_blank')
                    i.fa.fa-user
                    | Estudiantes
                li
                  a(href='https://ww2.ufps.edu.co/universidad/perfiles/egresados/954' target='_blank')
                    i.fa.fa-graduation-cap
                    | Graduados
                li
                  a(href='https://docentes.ufps.edu.co/' target='_blank')
                    i.fa.fa-user-circle
                    | Docentes
                li
                  a(href='#')
                    i.fa.fa-briefcase
                    | Empresarios
                li.cd-log_reg.hidden-sm.hidden-md.hidden-lg
                  strong
                    a.cd-signup(href='javascript:void(0);') Lenguaje
                  ul.topbar-dropdown
                    li
                      a(href='#') Ingl&eacute;s
                    li
                      a(href='#') Espa&ntilde;ol
                li.cd-log_reg.hidden-sm.hidden-md.hidden-lg
                  strong
                    a.cd-signin(href='http://ingsistemas.ufps.edu.co/')
                      i.fa.fa-reply
                      |  Versi&oacute;n Anterior
            .col-sm-5.col-xs-5.clearfix
              i.fa.fa-search.search-btn.pull-right
              ul.topbar-list.topbar-log_reg.pull-right.visible-sm-block.visible-md-block.visible-lg-block
                li.cd-log_reg.home(style='padding: 0px 12px;')
                  #google_translate_element
                  script(type='text/javascript').
                    function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,fr,it', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                    }
                  
                li.cd-log_reg.home
                  a(href='http://200.93.148.29/ingsistemas_viejo/')
                    i.fa.fa-reply
                    |  Versi&oacute;n Anterior
          // /end row
        // /end container
      // End Topbar blog
    .header-v8.img-logo-superior(style='background-color: #aa1916;')
      // === Parallax Quote ===
      .parallax-quote.parallaxBg(style='padding: 30px 30px;')
        .parallax-quote-in(style='padding: 0px;')
          .row
            .col-md-4.col-sm-4.col-xs-5
              a(href='index-2.html')
                img#logo-header(src='/rsc/img/logo_vertical_ingsistemas_ht180.png' alt='Logo Programa de Ingeniería de Sistemas' style='max-height:180px;')
            .col-md-2.col-ms-1.col-xs-2.pull-right
              a(href='http://www.ufps.edu.co/')
                img.header-banner(src='/rsc/img/logo_ufps.png' style='max-height:160px;' alt='Escudo de la Universidad Francisco de Paula Santander')
      // === End Parallax Quote ===
    // /end header-v8
    .menu-responsive
      // Logo
      a.logo.logo-responsive(href='index-2.html' style='margin-left:5px;')
        img(src='rsc/img/horizontal_logo_ingsistemas_pequeno.png' alt='Logo')
      // End Logo
      // Toggle get grouped for better mobile display
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-responsive-collapse')
        span.sr-only Cambiar navegaci&oacute;n
        span.fa.fa-bars
      // End Toggle
    // Navbar
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.mega-menu.navbar-responsive-collapse
      .containermenu
        ul.nav.navbar-nav(style='float:left;')
          li.dropdown
            a.dropdown-toggle(href='javascript:;' data-toggle='dropdown') Programa
            ul.dropdown-menu
              li
                a(href='indexc3c9.html?id=8') Presentaci&oacute;n
              li
                a(href='index5255.html?id=9') Misi&oacute;n, Visi&oacute;n y Valores
              li
                a(href='index8c3c.html?id=234') Objeto de Estudio
              li
                a(href='index1e74.html?id=235') Perfil Profesional
              li.dropdown-submenu
                a(href='javascript:;') Comit&eacute; Curricular
                ul.dropdown-menu
                  li
                    a(href='indexf41b.html?id=10') Conformaci&oacute;n
                  li
                    a(href='indexfdcf.html?id=262') Cronograma de Actividades
                  li
                    a(href='indexa916.html?id=44') Desde el Comit&eacute;
              li
                a(href='index98dc.html?id=45') PEP
              li.dropdown-submenu
                a(href='javascript:;') Aspectos Acad&eacute;micos
                ul.dropdown-menu
                  li
                    a(href='index8517.html?id=232') Flexibilidad
                  li
                    a(href='index6bfb.html?id=220') Saber-Pro
              li.dropdown-submenu
                a(href='javascript:;') Pensum
                ul.dropdown-menu
                  li
                    a(href='index2787.html?id=251') Calendarios De Previos
                  li.dropdown-submenu
                    a(href='javascript:;') Pensum Vigente 1155 - Otros 115, 015
                    ul.dropdown-menu
                      li
                        a(href='index0c98.html?id=50') 115
                      li
                        a(href='index95ba.html?id=263') Electivas
                      li
                        a(href='index2568.html?id=49') 015
              li
                a(href='indexbb33.html?id=47') Autoevaluaci&oacute;n
              li
                a(href='index4944.html?id=48') Plan de Mejoramiento
          li.dropdown
            a.dropdown-toggle(href='javascript:;' data-toggle='dropdown') Formaci&oacute;n-Investigaci&oacute;n
            ul.dropdown-menu
              li
                a(href='indexa2fb.html?id=230') Investigaci&oacute;n en el Programa
              li.dropdown-submenu
                a(href='javascript:;') Hablemos de Investigaci&oacute;n
                ul.dropdown-menu
                  li
                    a(href='index03db.html?id=237') Habivensi
                  li
                    a(href='indexace9.html?id=245') Encuentro de Semilleros de Investigaci&oacute;n
                  li
                    a(href='index7df0.html?id=41') Semilleros
              li.dropdown-submenu
                a(href='javascript:;') Grupos de Investigaci&oacute;n 
                ul.dropdown-menu
                  li
                    a(href='indexab5e.html?id=40') GIDIS
                  li.dropdown-submenu
                    a(href='javascript:;') GIDIS
                    ul.dropdown-menu.submenu-left
                      li
                        a(href='index2b36.html?id=227') Contacto
                  li
                    a(href='indexd1ca.html?id=233') GIA
              li
                a(href='javascript:;') Proyectos
              li
                a(href='indexd1d2.html?id=249') C&aacute;psulas de Aprendizaje
          li.dropdown
            a.dropdown-toggle(href='javascript:;' data-toggle='dropdown') Proyecci&oacute;n Social 
            ul.dropdown-menu
              li
                a(href='index8431.html?id=73') Proyecci&oacute;n Social
              li
                a(href='indexa9e4.html?id=55') Extensi&oacute;n
              li
                a(href='index3ca5.html?id=53') Pr&aacute;cticas Empresariales
          li.dropdown
            a.dropdown-toggle(href='javascript:;' data-toggle='dropdown') Internacionalizaci&oacute;n
            ul.dropdown-menu
              li
                a(href='javascript:;') Oficina de Relaciones Internacionales
              li.dropdown-submenu
                a(href='javascript:;') Movilidad del Programa
                ul.dropdown-menu
                  li
                    a(href='index4411.html?id=37') Movilidad Estudiantil
                  li
                    a(href='indexcdef.html?id=38') Movilidad Docente
              li
                a(href='indexf62c.html?id=36') Convocatorias Vigentes 
          li.dropdown
            a.dropdown-toggle(href='javascript:;' data-toggle='dropdown') Bienestar
            ul.dropdown-menu
              li
                a(href='index48db.html?id=58') Bienestar Universitario
              li
                a(href='index850a.html?id=57') Calendario de Vicerrector&iacute;a de Bienestar
              li
                a(href='index2b36.html?id=227' target='_blank') Bienestar-Universitario en el Programa 
              li
                a(href='index4ea2.html?pid=77') Oferta Laboral
          li.dropdown
            a.dropdown-toggle(href='javascript:;' data-toggle='dropdown') Infraestructura
            ul.dropdown-menu
              li.dropdown-submenu
                a(href='javascript:;') Laboratorios
                ul.dropdown-menu
                  li
                    a(href='index1434.html?id=28') Desarrollo de Aplicaciones Web
                  li
                    a(href='index8bcf.html?id=30') Lab GIDIS
                  li
                    a(href='index7147.html?id=136') Laboratorios de Redes
                  li
                    a(href='index67cd.html?id=168') Desarrollo de Software
                  li
                    a(href='indexef73.html?id=33') Construcci&oacute;n de Contenidos
              li
                a(href='indexd5e8.html?id=34') Salas de C&oacute;mputo
              li
                a(href='index1a6a.html?id=75') Auditorio
              li
                a(href='index40ac.html?id=35') Software Acad&eacute;mico
          li.dropdown
            a.dropdown-toggle(href='javascript:;' data-toggle='dropdown') Estudiantes
            ul.dropdown-menu
              li
                a(href='index011a.html?id=60') Estatuto Estudiantil
              li
                a(href='index374c.html?id=141') Documentaci&oacute;n Practicas Empresariales
              li
                a(href='index357b.html?id=261') Horarios de Asesor&iacute;as
              li.dropdown-submenu
                a(href='javascript:;') Modalidad de Trabajo de Grado
                ul.dropdown-menu
                  li
                    a(href='https://forms.gle/inxMNLGHdFE6DTrQA' target='_blank') Inscripci&oacute;n Anteproyecto de Grado
                  li
                    a(href='https://forms.gle/tPexc1JG7Bw7RCwp8' target='_blank') Registrar Proyecto De Grado
                  li
                    a(href='index0724.html?id=97') Proyecto de Grado
              li
                a(href='javascript:;') Graduaci&oacute;n por m&eacute;ritos de desempe&ntilde;o
              li.dropdown-submenu
                a(href='javascript:;') Cursos de Profundizaci&oacute;n
                ul.dropdown-menu.submenu-left
                  li
                    a(href='index3221.html?id=63') Curso Desarrollo de Software
                  li
                    a(href='index3ebc.html?id=64') CCNA - Cisco
              li
                a(href='index1e85.html?id=54') Beca Trabajos y Monitor&iacute;as
              li
                a(href='index6bfb.html?id=220') Pruebas Saber Pro
              li
                a(href='index2fc6.html?id=61') Amigos Acad&eacute;micos
              li.dropdown-submenu
                a(href='javascript:;') Recursos
                ul.dropdown-menu.submenu-left
                  li
                    a(href='index37bf.html?id=140') Elementos Corporativos
              li
                a(href='https://forms.gle/Bcwm6YtW3o1fMVzf6' target='_blank') Registrar Atenci&oacute;n Estudiantes
              li
                a(href='indexf8d4.html?id=65') Descarga linux SILUX
              li
                a(href='indexf8d4.html?id=65') Recursos de apoyo
              li
                a(href='indexa7a0.html?id=158') Lista de Correo
          li.nodropdown
            a.dropdown-toggle.disabled(href='javascript:;' data-toggle='dropdown') MARATON PROGRAMACION 2021
          li.dropdown
            a.dropdown-toggle(href='javascript:;' data-toggle='dropdown') Graduados
            ul.dropdown-menu
              li
                a(href='javascript:;') Pol&iacute;tica del Graduado
              li
                a(href='javascript:;') Seguimiento a Graduados
              li.dropdown-submenu
                a(href='javascript:;') Conoce nuestros Graduados
                ul.dropdown-menu.submenu-left
                  li
                    a(href='javascript:;') Experiencias
              li
                a(href='javascript:;') Premio al M&eacute;rito
              li
                a(href='index714f.html?id=247') Competencias 
              li
                a(href='index2580.html?id=43') Contacto
          li.nodropdown
            a.dropdown-toggle.disabled(href='indexcf28.html?id=260' data-toggle='dropdown') EISI 2022
          li.nodropdown
            a.dropdown-toggle.disabled(href='indexe3b8.html?id=226' data-toggle='dropdown') Proyectos de Semillero y de Aula -Aprobado  2022-1
    // /navbar-collapse
  // header-v6
  ul.pgwSlider
    li
      img(src='rsc/img/conversatorio%20graduados.jpg' alt='')
      span(style='font-family: inherit; font-size:0.95em; font-weight:normal; color:#111; cursor:auto;')
        | En el marco de la Renovaci&oacute;n y Acreditaci&oacute;n de Alta Calidad del Programa, se vienen desarrollando actividades donde nuestros graduados son actores claves en estos procesos.
    li
      a(href='index8eeb.html?id=265')
        img(src='rsc/img/encuento%20de%20proyectos%202022-1.jpg' alt='')
        span(style='font-family: inherit; font-size:0.95em; font-weight:normal; color:#111; cursor:auto;')
          | En el marco de la Renovaci&oacute;n y Acreditaci&oacute;n de Alta Calidad del Programa, se crea un espacio a los estudiantes para que socialicen los resultados de sus proyectos ante la comunidad acad&eacute;mica y general.
    li
      img(src='rsc/img/charla%20experiencias%20laborales%20TI.jpg' alt='')
      span(style='font-family: inherit; font-size:0.95em; font-weight:normal; color:#111; cursor:auto;')
        | Para el Programa de Ingenier&iacute;a de Sistemas los graduados son  actores claves en los procesos de Autoevaluaci&oacute;n y Acreditaci&oacute;n.  Desde el Programa y con el liderazgo de nuestro graduado se ofrece la charla: Tendencias Laborales en la Industria TI .
    li
      a(href='indexfe1c.html?id=266')
        img(src='rsc/img/charlemos%20con%20los%20graduados%202022-1.jpg' alt='')
        span(style='font-family: inherit; font-size:0.95em; font-weight:normal; color:#111; cursor:auto;')
          | Con &eacute;xito se realizo el Conversatorio con nuestros graduados del Programa. Nuestros Graduados son actores claves en los proceso de autoevaluaci&oacute;n.  Gracias por su apoyo
  // Entra a html_noticias
  // Antes de acceder a la base de datos
  // Despues de acceder a la base de datos
  div(style='clear:both;')
  div(style='background-color: #e8e8e8; ')
    .container.content-prin.profile
      .row.margin-top-10
        .headline-center-v2.headline-center-v2-dark.margin-bottom-10
          h1.shop-h1(style='font-size: 30px;')
            b Novedades
          span.bordered-icon
            i.fa.fa-newspaper-o(aria-hidden='true')
        .col-md-12
          .row.equal-height-columns.margin-bottom-10
            .container
              ul.row.block-grid-v2
                li.col-md-3.col-sm-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    img(onclick="openModalImage('modal260')" src='rsc/img/clp_Taller%20Seguridad%20Cloud%20-mayo%206%20-%20EISI.jpg' alt='' style='cursor:zoom-in;')
                    .easy-block-v1-badge.rgba-red
                      | 27 de Abril de 2022
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='index5e68.html?modulo=verinformacion&idinfo=260') Taller Seguridad Cloud -  Mayo 6 
                li.col-md-3.col-sm-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    img(onclick="openModalImage('modal259')" src='rsc/img/clp_Taller%20Tableau%20para%20Data%20Scienci%20-%20Abril%2029%20-%20EISI.jpg' alt='' style='cursor:zoom-in;')
                    .easy-block-v1-badge.rgba-red
                      | 25 de Abril de 2022
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='index995a.html?modulo=verinformacion&idinfo=259') Invitaci&oacute;n a Taller: Tableau para Data Science 26 abril
                li.col-md-3.col-sm-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    img(onclick="openModalImage('modal255')" src='rsc/img/clp_CAFETic.jpg' alt='' style='cursor:zoom-in;')
                    .easy-block-v1-badge.rgba-red
                      | 5 de Noviembre de 2021
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='indexca70.html?modulo=verinformacion&idinfo=255') Cafe TIC 2021-2
                li.col-md-3.col-sm-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    img(onclick="openModalImage('modal247')" src='rsc/img/clp_taller%20competencias%20cc2020.jpg' alt='' style='cursor:zoom-in;')
                    .easy-block-v1-badge.rgba-red
                      | 17 de Agosto de 2021
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='indexb697.html?modulo=verinformacion&idinfo=247') Competencias 
              a.btn-u.btn-u-sm.pull-right.tooltips(href='index4a0e.html?modulo=principal' data-toggle='tooltip' data-placement='left' data-original-title='Ver más novedades')
                | Ver m&aacute;s 
                i.fa.fa-chevron-circle-right(aria-hidden='true')
  // FIN EVENTOS
  div(style='background-color: #b43432; padding-bottom:10px;')
    .container.content-prin.profile
      .row.margin-bottom-10.margin-top-10
        .headline-center-v2.margin-bottom-10
          h1(style='font-size: 30px; color:#fff;')
            b Pr&oacute;ximas actividades
          span.bordered-icon
            i.fa.fa-calendar-o(aria-hidden='true')
        .col-sm-3
          .service-block-v1.md-margin-bottom-50(style='background: #fff; border-top: 5px solid #f1c40f;')
            i.icon-custom.icon-lg.rounded-x.icon-color-yellow.icon-line.fa.fa-bookmark(style='background: #fff;')
            h5.title-v3-bg.text-uppercase
              b
            p Esta actividad se desarrollar&aacute; el 17 de junio
      // /row
      a.btn-u.btn-u-sm.pull-right.tooltips(href='index4b5d.html?modulo=calendarios' data-toggle='tooltip' data-placement='left' data-original-title='Ingresar a Calendario de Eventos')
        | Ver m&aacute;s 
        i.fa.fa-chevron-circle-right(aria-hidden='true')
  // FIN DESTACADOS
  div(style='clear:both;')
  div(style='background-color: #d4d4d4;')
    .container.content-prin.profile
      .row.margin-top-10
        .headline-center-v2.headline-center-v2-dark.margin-bottom-10
          h1.shop-h1(style='font-size: 30px; color:#444;')
            b Galer&iacute;as
          span.bordered-icon(style='color:#444;')
            i.fa.fa-newspaper-o(aria-hidden='true')
        .col-md-12
          .row.equal-height-columns.margin-bottom-10
            .container
              ul.row.block-grid-v2
                li.col-md-2.col-sm-3.col-xs-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    a(href='indexf7fd.html?modulo=detallegaleria&idgale=47')
                      img(src='rsc/img/Evento%20Facebook%20Colombia%20Hack%202020.jpg' alt='')
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='indexf7fd.html?modulo=detallegaleria&idgale=47') Evento Facebook Colombia Hack 2020
                li.col-md-2.col-sm-3.col-xs-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    a(href='indexc3f3.html?modulo=detallegaleria&idgale=48')
                      img(src='rsc/img/estudiantes%20de%20Cloud%20Computing%20en%20Colombia.jpg' alt='')
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='indexc3f3.html?modulo=detallegaleria&idgale=48') Estudiantes de Cloud Computing en Colombia
                li.col-md-2.col-sm-3.col-xs-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    a(href='indexedcd.html?modulo=detallegaleria&idgale=43')
                      img(src='rsc/img/1.jpg' alt='')
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='indexedcd.html?modulo=detallegaleria&idgale=43') Compartir Proyecto Social
                li.col-md-2.col-sm-3.col-xs-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    a(href='index69db.html?modulo=detallegaleria&idgale=44')
                      img(src='rsc/img/INGALIRIO.jpg' alt='')
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='index69db.html?modulo=detallegaleria&idgale=44') Ayudando Ando
                li.col-md-2.col-sm-3.col-xs-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    a(href='index2fb2.html?modulo=detallegaleria&idgale=42')
                      img(src='rsc/img/WhatsApp%20Image%202018-11-26%20at%2012.52.26%20PM.jpg' alt='')
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='index2fb2.html?modulo=detallegaleria&idgale=42') Charla: inteligencia artificial en la industria 4.0
                li.col-md-2.col-sm-3.col-xs-6.md-margin-bottom-30(style='padding-left: 14px;')
                  .easy-block-v1
                    a(href='indexf4c1.html?modulo=detallegaleria&idgale=41')
                      img(src='rsc/img/WhatsApp%20Image%202018-11-22%20at%209.58.23%20AM.jpg' alt='')
                  .block-grid-v2-info.rounded-bottom.bloques_eventos
                    h5
                      b
                        a(href='indexf4c1.html?modulo=detallegaleria&idgale=41') Taller Experiencias -Metodolog&iacute;as &aacute;giles
              a.btn-u.btn-u-sm.pull-right.tooltips(href='index8a52.html?modulo=galerias' data-toggle='tooltip' data-placement='left' data-original-title='Ver más galerías')
                | Ver m&aacute;s 
                i.fa.fa-chevron-circle-right(aria-hidden='true')
  // FIN EVENTOS
  // ICONOS REDES SOCIALES
  #idcuadroredes.cuadroredes(style='height: 190px')
    div(style='text-align:center; vertical-align:middle; font-size:1.25em; cursor:pointer; margin: 4px; padding: 0px; border-bottom: 1px dotted #666;' onclick="document.getElementById('idcuadroredes').style.display='none';")
      i.icon-close
    ul.social-icons.social-icons-color.margin-top-10
      li.tooltips(data-toggle='tooltip' data-placement='bottom' data-original-title='Síguenos en Facebook')
        a.rounded.social_facebook(href='https://www.facebook.com/UFPS-Cúcuta-553833261409690')
      li.tooltips(data-toggle='tooltip' data-placement='bottom' data-original-title='Síguenos en Twitter')
        a.rounded.social_twitter(href='https://twitter.com/UFPSCUCUTA')
      li.tooltips(data-toggle='tooltip' data-placement='bottom' data-original-title='Síguenos en YouTube')
        a.rounded.social_youtube(href='https://www.youtube.com/channel/UCgPz-qqaAk4lbHfr0XH3k2')
      li.tooltips(data-toggle='tooltip' data-placement='bottom' data-original-title='Síguenos en Instagram')
        a.rounded.social_instagram(href='https://www.instagram.com/ufpscucuta/')
  // FIN ICONOS REDES SOCIALES
  #modal260.ufps-image-modal
    span.ufps-image-modal-close &times;
    img.ufps-image-modal-content(src='rsc/img/Taller%20Seguridad%20Cloud%20-mayo%206%20-%20EISI.jpg' alt='')
    .ufps-image-modal-caption Taller Seguridad Cloud -  Mayo 6 
  #modal259.ufps-image-modal
    span.ufps-image-modal-close &times;
    img.ufps-image-modal-content(src='rsc/img/Taller%20Tableau%20para%20Data%20Scienci%20-%20Abril%2029%20-%20EISI.jpg' alt='')
    .ufps-image-modal-caption Invitaci&oacute;n a Taller: Tableau para Data Science 26 abril
  #modal255.ufps-image-modal
    span.ufps-image-modal-close &times;
    img.ufps-image-modal-content(src='rsc/img/CAFETic.jpg' alt='')
    .ufps-image-modal-caption Cafe TIC 2021-2
  #modal247.ufps-image-modal
    span.ufps-image-modal-close &times;
    img.ufps-image-modal-content(src='rsc/img/taller%20competencias%20cc2020.jpg' alt='')
    .ufps-image-modal-caption Competencias 
// wrapper
.footer-v1.off-container
  .footer
    .container
      .row
        // About
        .col-md-3.col-sm-4.md-margin-bottom-40
          .footer-main
            a(href='index.html')
              img#logo-footer.img-responsive(src='rsc/img/logo_ingsistemas_vertical_invertido.png' alt='Logo Pie de Página')
        // /col-md-3
        // End About
        // Latest
        .col-md-3.col-sm-4.md-margin-bottom-40
          .posts
            .headline(style='border-bottom: #272727;')
              h2 Visitantes
            ul.list-unstyled.latest-list
              li(style='color:#fff')
                | Hoy: 89
              li(style='color:#fff')
                | &Uacute;ltimo mes: 2.986
              li(style='color:#fff')
                | Desde el principio: 232.582
        // /col-md-3
        // End Latest
        // Link List
        .col-md-3.col-sm-4.md-margin-bottom-40
          .headline(style='border-bottom: #272727;')
            h2 Enlaces de Inter&eacute;s
          ul.list-unstyled.latest-list
            li
              a(href='http://gidis.ufps.edu.co/dsiwebsite/public/') Sitio Web-Departamento de Sistemas
            li
              a(href='http://biblioteca.ufps.edu.co/' target='_blank') Biblioteca Eduardo Cote Lamus
            li
              a(href='http://200.93.148.47/bienestar/' target='_blank') Vicerrector&iacute;a de Bienestar Universitario
            li
              a(href='index3773.html?id=27') Cronograma del Comit&eacute; Curricular
            li
              a(href='http://php.net/' target='_blank') Recursos PHP
            li
              a(href='https://www.facebook.com/IngSistUFPS/?fref=ts') Facebook
            li
              a(href='http://200.93.148.29/ingsistemas_viejo/') Ir a versi&oacute;n Anterior
            li
              a(href='http://www.youtube.com/' target='_blank') Canal UFPS en YouTube
        // /col-md-3
        // End Link List
        // Address
        .col-md-3.col-sm-4.map-img.md-margin-bottom-40
          .headline(style='border-bottom: #272727;')
            h2 Contactos
          address.md-margin-bottom-40
            | Programa de Ingenier&iacute;a de Sistemas de la Universidad Francisco de Paula Santander
            br
            | Acreditaci&oacute;n de alta calidad seg&uacute;n resoluci&oacute;n No. 15757 del Ministerio de Educaci&oacute;n Nacional
            br
            | Avenida Gran Colombia No. 12E-96 Barrio Colsag, C&uacute;cuta, Colombia
            br
            | Tel&eacute;fono (57) 7 5776655 Extensiones 201 y 203
            br
            | Correo electr&oacute;nico: ingsistemas@ufps.edu.co
        // /col-md-3
        // End Address
  // /footer
section.ChatBox
  h4 ChatBot UFPS
  .chat-popup
    .chat-area
    .input-area
      input(type='text' id='campo')
      button.submit
        i.material-icons  Enviar
.text &iexcl;Hola! &iquest;Puedo ayudarte en algo?
.ChatBot
  img(src='/img/logo.png' width='100' height='100')
.owl-clients-v1(style='background-color:#EEE; padding: 5px;')
  .item
    a(href='http://www.mineducacion.gov.co/' target='_blank')
      img.hover-shadow(src='rsc/img/mineducacion.png' alt='')
  .item
    a(href='http://www.gobiernoenlinea.gov.co/' target='_blank')
      img.hover-shadow(src='rsc/img/gobiernoenlinea.png' alt='')
  .item
    a(href='http://www.contraloriagen.gov.co/' target='_blank')
      img.hover-shadow(src='rsc/img/contraloria.png' alt='')
  .item
    a(href='http://www.procuraduria.gov.co/' target='_blank')
      img.hover-shadow(src='rsc/img/procuraduriageneraldelanacion.png' alt='')
  .item
    a(href='http://www.urnadecristal.gov.co/' target='_blank')
      img.hover-shadow(src='rsc/img/urnadecristal.png' alt='')
  .item
    a(href='http://www.icfes.gov.co/' target='_blank')
      img.hover-shadow(src='rsc/img/icfes.png' alt='')
  .item
    a(href='http://www.icetex.gov.co/' target='_blank')
      img.hover-shadow(src='rsc/img/icetex.png' alt='')
  .item
    a(href='http://www.universia.net.co/' target='_blank')
      img.hover-shadow(src='rsc/img/universia.png' alt='')
  .item
    a(href='http://www.colombiaaprende.edu.co/' target='_blank')
      img.hover-shadow(src='rsc/img/colombiaaprende.png' alt='')
  .item
    a(href='http://www.renata.edu.co/' target='_blank')
      img.hover-shadow(src='rsc/img/renata-logo.png' alt='')
  .item
    a(href='http://www.colciencias.gov.co/' target='_blank')
      img.hover-shadow(src='rsc/img/COLCIENCIAS.png' alt='')
  .item
    a(href='http://www.cna.gov.co/' target='_blank')
      img.hover-shadow(src='rsc/img/cna.png' alt='')
  .item
    a(href='http://www.mineducacion.gov.co/sistemasdeinformacion/1735/propertyvalue-41698.html' target='_blank')
      img.hover-shadow(src='rsc/img/SACES.png' alt='')
  .item
    a(href='http://www.mineducacion.gov.co/sistemasdeinformacion/1735/w3-propertyname-2672.html' target='_blank')
      img.hover-shadow(src='rsc/img/SNIES.png' alt='')
  .item
    a(href='http://www.mineducacion.gov.co/sistemasdeinformacion/1735/w3-propertyname-2895.html' target='_blank')
      img.hover-shadow(src='rsc/img/SPADIES.png' alt='')
script(type='text/javascript' src='js/jquery.min.js')
script(type='text/javascript' src='js/jquery-migrate.min.js')
script(type='text/javascript' src='js/bootstrap.min.js')
script(type='text/javascript' src='js/pgwslider.min.js')
//script(type='text/javascript' src='js/back-to-top.min.js')
script(type='text/javascript' src='js/smoothScroll.min.js')
script(type='text/javascript' src='js/owl.carousel.min.js')
script(type='text/javascript' src='js/sequence.jquery-min.js')
script(type='text/javascript' src='js/greensock.js')
script(type='text/javascript' src='js/layerslider.transitions.js')
script(type='text/javascript' src='js/layerslider.kreaturamedia.jquery.js')
script(type='text/javascript' src='js/custom.min.js')
script(type='text/javascript' src='js/app.min.js')
script(type='text/javascript' src='js/owl-carousel.min.js')
script(type='text/javascript' src='js/datepicker.min.js')
script(type='text/javascript' src='js/validation.min.js')
script(type='text/javascript' src='js/jquery.mCustomScrollbar.concat.min.js')
script(type='text/javascript' src='js/owl-recent-works.min.js')
script(type='text/javascript' src='js/wow.min.js')
script(type='text/javascript' src='js/ufps.js')
script(type='text/javascript' src='js/chatbot.js')
//if lt IE 9
  script(src='js/respond.js')
  script(src='js/html5shiv.js')
  script(src='js/placeholder-IE-fixes.js')
// For Background Image
// <script type="text/javascript" src="js/jquery.backstretch.min.js"></script>
//
  <script type="text/javascript">
  $.backstretch([
  "assets/rsc/img/bg/13.jpg"
  ])
  </script>
// End For Background Image
// Mirrored from ingsistemas.cloud.ufps.edu.co/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Jun 2022 22:17:26 GMT
